.App {
  background-image: url("./602223.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;

  text-align: center;
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-container { 
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
  z-index: -2;           
}


